<hr style="margin-top:30px;"/>
<div style="display:flex; margin-top:30px;">
  <img style="width:100px; align-self: center;" src="/signatures/{{ .Params.author }}.png" alt="{{ .Params.author }}-profil-pic">
  <div style="margin-left: 10px;">
    <h4 style="margin-top: 0; margin-bottom: 10px;">{{ .Params.author }}</h4>
      {{ $author := .Params.author}}
      {{ range .Site.Data.signatures }}
          {{ if eq .author $author }}
            {{ print .description }}
          {{ end }}
      {{end}}
  </div>
</div>
